# Archivo de proyecto de c#
*.csproj
#carpetas de construccion de proyecto de c#
ColecDictionary/bin
ColecDictionary/obj
ColecDictionary/bin/Debug/**/*.*
ColecDictionary/obj/Debug/**/*.*
ColecDictionary/obj/Debug/**/*.*.*
ColecDictionary/obj/**
ColecDictionary/obj/*.*
#archivos de metadata de unity
*.meta