# Archivo de proyecto de c#
*.csproj
#carpetas de construccion de proyecto de c#
Script/bin
Script/obj
Script/bin/Debug/**/*.*
Script/obj/Debug/**/*.*.*.*
Script/obj/Debug/**/*.*.*
Script/obj/**
Script/obj/*.*
#archivos de metadata de unity
*.meta